<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 0</title>
</head>
<body>
    <h1>Panucci's Pizza</h1>
    <form
    action="#"
    data-th-action="@{/}"
    data-th-object="${pizza}"
    method="post"
    >
        <p>
            <h2>Select a pizza</h2>
            <br>
            <select th:field="*{selectedOption}">
                <option th:each="pizza : ${s}" th:value="${option.value}" th:text="${option.text}"></option>
            </select>
        </p>
        <input type="submit" value="Next">
    </form>
</body>
</html>