<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View 1</title>
</head>
  <body>
    <h1>Order Delivery Details</h1>
    <form
      action="#"
      data-th-action="@{/contact}"
      data-th-object="${contact}"
      method="post"
    >
      <p>
        Name:
        <input type="text" data-th-field="*{name}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('name')}"
          data-th-errors="*{name}"
        ></span>
      </p>
      <br />
      <p>
        Address:
        <input type="text" data-th-field="*{address}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('address')}"
          data-th-errors="*{address}"
        ></span>
      </p>
      <br />
      <p>
        Phone:
        <input type="text" data-th-field="*{phoneNumber}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('phoneNumber')}"
          data-th-errors="*{phoneNumber}"
        ></span>
      </p>
      <br />
      <p>
       Rush:
       <input type="checkbox" data-th-field="*{isRush}"/> 
      </p>
      <p>
        Comments:
        <input type="text" data-th-field="*{comments}" />
        <br />
        <span
          class="error"
          data-th-if="${#fields.hasErrors('comments')}"
          data-th-errors="*{comments}"
        ></span>
      </p>
      <p>
        <input type="submit" value="Cancel Order" />
        <input type="submit" value="Place Order" />
      </p>

    </form>
  </body>
</html>